/* 
    Document   : site
    Created on : Sep 15, 2012, 4:22:19 PM
    Author     : Garrick S. Bodine <garrick.bodine@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.item-img > img {
    margin: .5em;
}

.carousel {
    border: 1px solid #ccc;
}

.carousel-img {
    margin-top: 1em;
    margin-bottom: 3em;
}

.tooltip {
    font-size: 13px;
}

#admin-bar {
    width: 100%;
    position: fixed;
    top: 0;
}


#admin-bar-container .navbar-inner {
    width: 100%;
}

.popular a,
.-popular a,
.v-popular a,
.vv-popular a,
.vvv-popular a,
.vvvv-popular a,
.vvvvv-popular a,
.vvvvvv-popular a,
.vvvvvvv-popular a,
.vvvvvvvv-popular a {
    color: #000;
 }
        
.btn-inverse a {
    color: #fff;
}


