/* 
    Document   : site
    Created on : Sep 15, 2012, 4:22:19 PM
    Author     : Garrick S. Bodine <garrick.bodine@gmail.com>
    Description:
        Theme-specific definitions and overrides
*/

.admin-bar {
    padding-top: 30px;
}

.item-img > img {
    margin: .5em;
}

.carousel {
    border: 1px solid #ccc;
}


.tooltip {
    font-size: 13px;
}


.popular a,
.-popular a,
.v-popular a,
.vv-popular a,
.vvv-popular a,
.vvvv-popular a,
.vvvvv-popular a,
.vvvvvv-popular a,
.vvvvvvv-popular a,
.vvvvvvvv-popular a {
    /* color: #000; */
 }
        
.btn-inverse a {
    color: #fff;
}

ul.error {
    padding: 1em;
}

body {
    background-color: #15397F; 
    background: url(../images/header_back.jpg); 
    background-repeat: repeat-x; 
}

#site-title, #site-title h1 {
    margin: 0;
    padding: 2px 0;
}

#search-container {
    padding: 1em 2em;
}

#primary-nav {
    background: rgba(136, 190, 231, 0.5);
}

#primary-nav ul li.active a {
    background: #EFF0F0;
}

#content h1 {
    
}

.page-header {
    padding: 0 .5em;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
}

#collection-description {
    padding: 1em 1em 0 1em;
}

.page-image {
    margin: .5em;
    padding: 1em;
    background: #d2e9ba;
    text-align: center;
}

.page-image img {
    margin: 1em;
}

legend {
    padding-top: 2em;
}

.homeBox {
    padding: 0 1em;
    height: 75px;
    border-bottom: 1px solid #f5f5f5;
}

.homeBox a {
    color: #333;
    text-decoration: none;
}

.homeBox a:hover {
    color: #f5f5f5;
}

.homeBox:hover, .homeBox:hover a {
    color: #f5f5f5;
    background: #333;
    text-decoration: none;
}

.homeBox h2 {
    margin: 0;
    padding-top: 18px;
    font-size: 20px;
}
.homeBox img {
    margin: 5px 15px;
}

#participateBox:hover {
    background: url('../images/SliverGrandMarch.jpg') no-repeat right #333;
}

#searchBox:hover {
    background: url('../images/SliverMissBerry.jpg') no-repeat right #333;
}

#browseBox:hover {
    background: url('../images/MarthaBerryAtDesk.jpg') no-repeat right #333;
}

#learnBox:hover {
    background: url('../images/BaggageTag.jpg') no-repeat right #333;
}
