/* 
    Document   : site
    Created on : Sep 15, 2012, 4:22:19 PM
    Author     : Garrick S. Bodine <garrick.bodine@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.item-img > img {
    margin: .5em;
}

