/*
    Document: site
    Created on: Sep 15, 2012, 4:22:19 PM
    Author: Garrick S. Bodine <garrick.bodine@gmail.com>
    Description: Purpose of the stylesheet follows.
*/
/**********GENERAL STYLES**************/

@import url(http://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans:400,300,600,700);
@font-face{ 
  font-family: 'Cicle_Fina';
  src: url('../fonts/Cicle_Fina-webfont.eot');
  src: url('../fonts/Cicle_Fina-webfont.eot?iefix') format('eot'),
       url('../fonts/Cicle_Fina-webfont.woff') format('woff'),
       url('../fonts/Cicle_Fina-webfont.ttf') format('truetype'),
       url('../fonts/Cicle_Fina-webfont.svg#webfont') format('svg');
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Didact Gothic';
  letter-spacing: 1px;
}
body, p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
body {
  background-color: #f8f8f8;

}
#wrapper {
  background-color: #fff;
  margin-top: 25px;
  padding: 30px;
  border: thin solid #e8e8e8;
}
.meta {
  border-bottom: thin solid #e8e8e8;
  padding: 15px 15px;
}
#files {
  padding: 15px 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #a0c263;
}
.label-primary {
  background-color: #a0c263;
}
/********HEADER STYLES*********/
nav {
  border: none;
}
.navbar-header {
  padding: 10px 0 7px 0;
}
#wrap {
  padding: 0 50px 0 50px;
  border: none;
  background: rgba(72,197,219,1);
  background: -moz-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72,197,219,1)), color-stop(65%, rgba(143,238,255,1)), color-stop(100%, rgba(143,238,255,1)));
  background: -webkit-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: -o-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: linear-gradient(to right, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c5db', endColorstr='#8feeff', GradientType=1 );       
  }
#search-container {
  margin: 10px 0 0 10px;
}
a {
  color: #196371;
  text-decoration: none;
}
a:hover {
  color: #24899b;
  text-decoration: none;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
  background-color: transparent !important;
}
.navelement{
  margin-top: 60px;
}
#home-intro {
  border-bottom: orange 3px solid;
}
/********BROWSE PAGE STYLES*********/
.item-title > h3 {
  margin-top: 0px;
}
.hTagcloud {
  margin-top: 25px;
}
.item-img > img {
    margin: .5em;
}

.carousel {
    border: 1px solid #ccc;
}

.carousel-img {
    margin-top: 1em;
    margin-bottom: 3em;
}

.tooltip {
    font-size: 13px;
}

.popular a,
.-popular a,
.v-popular a,
.vv-popular a,
.vvv-popular a,
.vvvv-popular a,
.vvvvv-popular a,
.vvvvvv-popular a,
.vvvvvvv-popular a,
.vvvvvvvv-popular a {
    color: #000;
 }

.btn-inverse a {
    color: #fff;
}

a#advanced-search.button {
  width: 2%;
  top: 0;
  border: 0;
  position: absolute;
  text-decoration: none;
}
#advanced-search {
  width: 7%;
  font-size: 16px;
  text-indent: -9999px;
  margin-top: 45px;
  display: inline-block;
  position: absolute;
  top: 0;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-search:after {
  content: "+";
  display: block;
  text-indent: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  color: #fff;
  background: #369;
  top: 0;
}
#advanced-form {
  display: none;
  background-color: #fff;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #e7e7e7;
  padding: 1.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-form input[type="radio"] {
  margin-right: 5px;
}
#search-form fieldset fieldset {
  margin-bottom: 18px;
}
#search-form {
  margin-top: 35px;
}
