/*
    Document: site
    Created on: Sep 15, 2012, 4:22:19 PM
    Author: Garrick S. Bodine <garrick.bodine@gmail.com>
    Description: Purpose of the stylesheet follows.
*/





/**********GENERAL STYLES**************/

@import url(http://fonts.googleapis.com/css?family=Didact+Gothic|Lato:200,400,300,600,700);
h1,h2,h3,h4,h5,h6 {
  font-family: 'Didact Gothic';
  letter-spacing: 1px;
}
body, p {
  /*font-family: 'Lato' !important;*/
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
}
body {
background-color: #f8f8f8;
background-image: url(http://www.transparenttextures.com/patterns/fabric-of-squares.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#tagline, #tagline-author {
  text-align: center;
  font-size: 40px;
}
.lead {
  font-size: 18px;
  font-family: 'Lato';
  font-weight: 200;
}
#wrapper {
  background-color: #fff;
  margin-top: 25px;
  padding: 30px;
  margin-bottom: 45px;
  border: thin solid #e8e8e8;
}
.home-features {
  margin: 20px 0 20px 0;
  padding: 15px 0 15px 0;
  border-top:thin solid #e8e8e8 ;
  
}
.meta {
  border-bottom: thin solid #e8e8e8;
  padding: 15px 15px;
}
#files {
  padding: 15px 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #a0c263;
}
.label-primary {
  background-color: #a0c263;
}
.previous >a, .next > a {
  padding: 3px 10px 3px 10px !important;
  font-size: 13px;
}

/********HOMEPAGE FEATURED ITEMS*********/
#featured-row {
  border-top: 3px green solid;
  margin: 10px 0 10px 0;
}
#featured-item > .item.record > .image > img {
  border: solid 1px #eee;
  padding: 3px;
}
#recent-items > .items-list > .item > .item-img > a > img {
  border: solid 1px #eee;
  padding: 3px;
}
#featured-item > h2  {
  font-size: 25px;
}
#featured-item > .item.record > h3 {
  font-size: 21px;
}
#featured-exhibit > h2{
  font-size: 25px;
}
#recent-items > h2{
  font-size: 25px;
}
#recent-items > .items-list > .item > h3 {
  font-size: 21px;
}
/********HEADER STYLES*********/
nav {
  border: none;
}
.navbar-header {
  padding: 10px 0 7px 0;
}
#wrap {
  padding: 0 50px 0 50px;
  border: none;
  background: rgba(72,197,219,1);
  background: -moz-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72,197,219,1)), color-stop(65%, rgba(143,238,255,1)), color-stop(100%, rgba(143,238,255,1)));
  background: -webkit-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: -o-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  background: linear-gradient(to right, rgba(72,197,219,1) 0%, rgba(143,238,255,1) 65%, rgba(143,238,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c5db', endColorstr='#8feeff', GradientType=1 );       
  }

#search-container {
  margin: 10px 0 0 10px;
}
a {
  color: #196371;
  text-decoration: none;
}
a:hover {
  color: #24899b;
  text-decoration: none;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
  background-color: transparent !important;
}
#logo {
  margin: 10px 0 10px 65px;
}
#home-intro {
  border-bottom: orange 3px solid;
}
.page-header {
  margin-top: 0;
}
.page-header > h1 {
  margin-top: 10px;
}
.pager {
  margin-top: 0;
  margin-bottom: 0;
}
.pager > ul {
  padding-left: 0;
}
.navbar-ex1-collapse {
  float: right;
}
/**********Exhibit STYLES**************/
/*#secondary-nav {
  margin-left: 0;
}
#secondary-nav > li {
  list-style-type: none;
}
#secondary-nav > li > ul > li{
  list-style-type: none;
  padding-left: 0px;
}
#secondary-nav > li > ul {
  list-style-type: none;
  padding-left: 0px;
}
ul#secondary-nav{
  padding-left: 10px;
  margin-top: 20px;
  border-left: thin solid gray;

}
#secondary-nav > a {
  border: 1px red solid;
  background-color: ;
}
.current.active{
  background-color: #e8e8e8;
  font-weight: 400;
  padding-left: 0;
}
.exhibit-title {
  font-family: 'Didact Gothic';
  letter-spacing: 1px;
}
#exhibit-pages ul {
  margin-left: 0;
}*/
/*#exhibit-pages > ul{
  list-style-type: none;
  padding-left: 0;
}
#exhibit-pages > h4{
  margin-top: 0;

}*/
.exhibit-page-nav {
  border-left: 1px solid #eee;
  margin-left: 0px;
  padding-left: 0px;

}
.exhibit-page-nav > li:first-child {
  padding-left: 5px;
}
.exhibit-page-nav > li {
  list-style-type: none;
} 
.exhibit-page-nav > li > {
  margin: 5px 0 5px 0;
} 
.exhibit-nav-level-1 > li{
  margin: 5px 0 5px 0;
} 
.exhibit-nav-level-1 {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0 !important;
}
.exhibit-nav-level-1 > li {
    padding: 5px 5px 5px 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
}
.exhibit-title {
  font-family: 'Didact Gothic';
  letter-spacing: 1px;
}
.exhibit-nav-level-1 > li:hover {
  background-color: #eee;

}
.exhibit-nav-level-1 > .current.active {
  font-weight: 500;

}
h1 > .exhibit-page {
  padding-left: 15px;
}

/********BROWSE PAGE STYLES*********/
.item-title > h3 {
  margin-top: 0px;
}
.hTagcloud {
  margin-top: 25px;
}
.item-img > img {
    margin: .5em;
}
.file-image > a > img {
  max-width: 100%;
  height: auto;
}

.carousel {
    border: 1px solid #ccc;
}

.carousel-img {
    margin-top: 1em;
    margin-bottom: 3em;
}

.tooltip {
    font-size: 13px;
}

.popular a,
.-popular a,
.v-popular a,
.vv-popular a,
.vvv-popular a,
.vvvv-popular a,
.vvvvv-popular a,
.vvvvvv-popular a,
.vvvvvvv-popular a,
.vvvvvvvv-popular a {
    color: #000;
 }

.btn-inverse a {
    color: #fff;
}

a#advanced-search.button {
  width: 2%;
  top: 0;
  border: 0;
  position: absolute;
  text-decoration: none;
}
#advanced-search {
  width: 7%;
  font-size: 16px;
  text-indent: -9999px;
  margin-top: 45px;
  display: inline-block;
  position: absolute;
  top: 0;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-search:after {
  content: "+";
  display: block;
  text-indent: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  color: #fff;
  background: #369;
  top: 0;
}
#advanced-form {
  display: none;
  background-color: #fff;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #e7e7e7;
  padding: 1.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-form input[type="radio"] {
  margin-right: 5px;
}
#search-form fieldset fieldset {
  margin-bottom: 18px;
}
#search-form {
  margin-top: 35px;
}
/******ITEM PAGE STYLES*******/
#geolocation {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
#geolocation > h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.comments {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
#socialsharing {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
#socialsharing > h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
/******TAGS*******/
.vvvvvvvv-popular {
  font-size: 140%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.vvvvvvvv-popular > i {
  color: #333;
}
.vvvvvvv-popular {
  font-size: 135%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.vvvvvvv-popular > i {
  color: #333;
}
.vvvvvv-popular {
  font-size: 130%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.vvvvvv-popular > i {
  color: #333;
}
.vvvvv-popular {
  font-size: 125%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.vvvvv-popular > i {
  color: #333;
}
.vvvv-popular {
  font-size: 120%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.vvvv-popular > i {
  color: #333;
}
.vvv-popular {
  font-size: 115%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.vvv-popular > i {
  color: #333;
}
.vv-popular {
  font-size: 110%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.vv-popular > i {
  color: #333;
}
.v-popular {
  font-size: 105%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.v-popular > i {
  color: #333;
}
.popular {
  font-size: 100%;
  font-family: 'Didact Gothic';
  background-color: transparent;
  border: none;
}
.popular > i {
  color: #333;
}
.hTagcloud > .popularity > li {
  margin-bottom: 0px;
  padding: 7px 7px 7px 7px;

}
.hTagcloud > .popularity > li:hover {
  margin-bottom: 0px;
  background-color: #ddd;
}
.popularity, #tagcloud {
  padding-left: 10px;
}
footer {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
}

