.floatright {
  float: right;
  margin: 10px 35px 10px 40px;
  padding-bottom: 0px;

}
.caption {
  float: right;
  clear: right;
  width: 400px;
  font-size: 12px;
  line-height: 15px;
}

/**********GENERAL STYLES**************/

h1,h2,h3,h4,h5,h6 {
  font-family: sans-serif;
  letter-spacing: 1px;
}
body, p {
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
/*
background-color: #f8f8f8;
background-image: url(http://www.transparenttextures.com/patterns/fabric-of-squares.png);
*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#tagline, #tagline-author {
  text-align: center;
  font-size: 40px;
}
.lead {
  font-size: 18px;
  font-family: 'Lato';
  font-weight: 200;
}

#wrapper {
  background-color: #fff;
  margin-top: 25px;
  padding: 30px;
  margin-bottom: 45px;
  border: thin solid #e8e8e8;
}
.home-features {
  margin: 20px 0 20px 0;
  padding: 15px 0 15px 0;
  border-top:thin solid #e8e8e8 ;
  
}
.meta {
  border-bottom: thin solid #e8e8e8;
  padding: 15px 15px;
}
#files {
  padding: 15px 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #196371;
}
.label-primary {
  background-color: #48C5DB;
  font-family: 'Lato';
  font-weight: 400;
}
.label-primary[href]:hover{
  background-color: #196371;
}
.previous >a, .next > a {
  padding: 3px 10px 3px 10px !important;
  font-size: 13px;
}
.pagination>.active>span{
  background-color: #196371;
}
#bottompagination{
  margin-top: 20px;
}
#comments-container {
  font-family: 'Lato';
}
#primary {
  margin: 0 30px 0 30px;
}
.staffimgs {
  margin-top: 20px;
}
.panel-group {
  padding-top: 20px;
}
.staff {
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
}
.about-img {
  padding-left: 20px;
  float: right;
}
/********HOMEPAGE FEATURED ITEMS*********/
#featured-row {
  border-top: 3px green solid;
  margin: 10px 0 10px 0;
}
#featured-item > .item.record > .image > img {
  border: solid 1px #eee;
  padding: 3px;
}
#recent-items > .items-list > .item > .item-img > a > img {
  border: solid 1px #eee;
  padding: 3px;
}
/*#featured-item > h2  {
  font-size: 25px;
}*/
.exhibit.record > a > img {
  float: left;
  height: 125px;
  margin-right: 20px;
}
#featured-item > .item.record > h3 {
  font-size: 21px;
}
/*#featured-exhibit > h2{
  font-size: 25px;
}*/
/*
#recent-items > h2{
  font-size: 25px;
}
#recent-items > .items-list > .item > h3 {
  font-size: 21px;
}
*/

/********HEADER STYLES*********/
.navbar-toggle {
  border-color: #196371;
}
.navbar-toggle .icon-bar {
  background-color: #196371 !important;
}
a {
  color: #196371;
  text-decoration: none;
}
a:hover {
  color: #24899b;
  text-decoration: none;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
  background-color: transparent !important;
}
#logo {
  margin: 10px 0 10px 65px;
}
@media only screen and (max-width: 768px)  {
  #logo {
    margin: 10px 0 10px 0px;
    width:80%;
  }
  #logoimg > a > img{
    width: 350px;
  }
}
#home-intro {
  border-bottom: orange 3px solid;
}
.page-header {
  margin-top: 0;
}
.page-header > h1 {
  margin-top: 10px;
}
.pager {
  margin-top: 0;
  margin-bottom: 0;
}
.pager > ul {
  padding-left: 0;
}
.navbar-ex1-collapse {
  float: right;
}
.exhibit-page-nav {
  border-left: 1px solid #eee;
  margin-left: 0px;
  padding-left: 0px;

}
.exhibit-page-nav > li:first-child {
  padding-left: 5px;
}
.exhibit-page-nav > li {
  list-style-type: none;
} 
.exhibit-page-nav > li > {
  margin: 5px 0 5px 0;
} 
.exhibit-nav-level-1 > li{
  margin: 5px 0 5px 0;
} 
.exhibit-nav-level-1 {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0 !important;
}
.exhibit-nav-level-1 > li {
    padding: 5px 5px 5px 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
}
.exhibit-title {
  font-family: sans-serif;
  letter-spacing: 1px;
}
.exhibit-nav-level-1 > li:hover {
  background-color: #eee;

}
.exhibit-nav-level-1 > .current.active {
  font-weight: 500;

}
h1 > .exhibit-page {
  padding-left: 15px;
}
#exhibit-pages ul {
  padding-left: 0px;
  list-style-type: none;
  margin-left: 0 !important;
}
#exhibit-pages ul > li {
  padding: 5px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 5px 0 5px 0;
}

#exhibit-pages ul > li:hover {
  background-color: #eee;
}
#exhibit-pages {
  border-left: solid 1px #eee;
}
#exhibit-pages > h4 {
  padding-left: 10px;
}

/********BROWSE PAGE STYLES*********/
.item-title > h3 {
  margin-top: 0px;
}
.hTagcloud {
  margin-top: 25px;
}
.item-img > img {
    margin: .5em;
}
.file-image > a > img {
  max-width: 100%;
  height: auto;
}

.carousel {
    border: 1px solid #ccc;
}

.carousel-img {
    margin-top: 1em;
    margin-bottom: 3em;
}

.tooltip {
    font-size: 13px;
}

.popular a,
.-popular a,
.v-popular a,
.vv-popular a,
.vvv-popular a,
.vvvv-popular a,
.vvvvv-popular a,
.vvvvvv-popular a,
.vvvvvvv-popular a,
.vvvvvvvv-popular a {
    color: #000;
 }

.btn-inverse a {
    color: #fff;
}
/*
#search-container {
  margin: 10px 0 0 10px;
}
*/
#search-form {
  margin-top: 20px;
}
#search-form fieldset fieldset {
  margin-bottom: 18px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
#advanced-form {
  display: none;
  background-color: #fff;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: auto;
  left: 0;
  border: 1px solid #e7e7e7;
  padding: 1.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-form.open {
    display: block;
}
#advanced-form.close {
    display: none;
}
#advanced-form input[type="radio"] {
  margin-right: 5px;
}

/******ITEM PAGE STYLES*******/
#geolocation {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
#geolocation > h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.comments {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
#socialsharing {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
#socialsharing > h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
/******TAGS*******/
.vvvvvvvv-popular {
  font-size: 140%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.vvvvvvvv-popular > i {
  color: #333;
}
.vvvvvvv-popular {
  font-size: 135%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.vvvvvvv-popular > i {
  color: #333;
}
.vvvvvv-popular {
  font-size: 130%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.vvvvvv-popular > i {
  color: #333;
}
.vvvvv-popular {
  font-size: 125%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.vvvvv-popular > i {
  color: #333;
}
.vvvv-popular {
  font-size: 120%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.vvvv-popular > i {
  color: #333;
}
.vvv-popular {
  font-size: 115%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.vvv-popular > i {
  color: #333;
}
.vv-popular {
  font-size: 110%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.vv-popular > i {
  color: #333;
}
.v-popular {
  font-size: 105%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.v-popular > i {
  color: #333;
}
.popular {
  font-size: 100%;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
}
.popular > i {
  color: #333;
}
.hTagcloud > .popularity > li {
  margin-bottom: 0px;
  padding: 3px 5px 3px 5px;

}
.hTagcloud > .popularity > li:hover {
  margin-bottom: 0px;
  background-color: #ddd;
}
.popularity, #tagcloud {
  padding-left: 10px;
}
footer {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
}
.omeka-props-footer > p{
  font-size: 10px;
}

